.backdrop {
    position: fixed;
    top: 0;
    left: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 100%;
    background-color: rgba(55, 53, 53, 0.359);
    opacity: 1;
    transition: var(--anim-fast);
    visibility: var(--anim-fast);
  
    z-index: 100;

    &.is-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }

    &.is-hidden.modal {
      transform: translate(-50%, -50%) scale(0.9);
    }

  }