.footer__social {

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 76px;
  }

    @media screen and (max-width: 767.9px) {
      margin-bottom: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    // @media screen and (min-width: 1200px) {
      
    //   margin-left: 70px;
    // }
    
  }

  .social__title {
    height: 16px;
    font-size: 14px;
    font-weight: 700px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--white-color);
  }

  .social__icon{
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .socials__logo {
    fill: var(--white-color);
  }

  .icon__set {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: color background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
  
  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #fff;
  }

}

