.header {
    border-bottom: 1px solid #ececec;
  }

  .header__logo {
    
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
    font-size: 24px;
    line-height: calc(28/24);
    font-weight: 700;
    letter-spacing: 0.03em;
    font-family: Raleway;
    color: var(--accent-color);

    @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
    }
  }
  
  .header__logo-text {
    color: #000000;
  }

  .header__container {
    
    @media screen and (max-width: 767px) {
      height: 60px;
      }

    height: 80px;
    display: flex;
    margin-right: auto;
    align-items: center;

    // @media screen and (min-width: 768px) and (max-width:1199px) {
    //   gap: 87px;
    // }
      
    }
  
    .header__adress{
      @media screen and (min-width: 768px) and (max-width:1199px) {
        display: flex;
      flex-direction: column;
    
      }

      
    }

  .header__list {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      margin-left: 87px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 92px;
    }
   
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color);
  }
  
  .header__item {
    
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
  
    color: var(--primary-text-color);
  }
  
  .header__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
  
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--primary-text-color);
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
  
    &:hover,
    &:focus {
    color: var(--accent-color);
  }

}

.header__mail {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width:1200px) {
    margin-right: 50px;
    font-size: 14px;
  }
  
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: fill color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__mail-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__tel {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition-property: fill color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__tel-icon {
  fill: currentColor;
  margin-right: 10px;
}