.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--accent-color);
  background-color: rgba(0, 0, 0, 0.1);
}



.menu__close-icon{
  fill: var(--accent-color);
}

.menu-container {
  padding: 48px 83px 48px 40px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;
  margin: 0;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
} 



.mobile__items {
  width: 139px;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47/40);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

} 


.mobile__contacts-tel {
font-weight: 500;
font-size: 34px;
line-height: calc(40/34);
letter-spacing: 0.02em;

color: var(--accent-color);
}

.mobile__contacts-mail{
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28/24);
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}


.mobile__socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  
}

.mobile__socials-item{
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22/18);
  color: var(--accent-color);
  letter-spacing: 0.02em;
}

.social__strip:not(:last-child)::after {
position: absolute;
top: 50%;
right: -12px;
transform: translateY(-50%); 
display: block;
content: "";
width: 1px;
height: 20px;
border: 1px solid rgba(33,33,33,0.2);
}

