.modal {

    position: relative;
    transform: scale(1);
    min-width: 528px;
    min-height: 581px;
    background-color: var(--white-color);
    transition: transform var(--anim-fast);
    border-radius: 4px;

    &.modal-animation {
      animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }

  }

  .modal__title {
    text-align: center;
    margin: 40px 40px 12px 40px;
    width: 448px;
    height: 23px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
  
    letter-spacing: 0.03em;
  
    color: #212121;
  }

  .form__field {
    display: flex;
    flex-direction: column;
  
    margin-bottom: 10px;

    & label {

      margin-bottom: 4px;
      margin-left: 40px;
      margin-right: 40px;
      width: 22px;
      height: 14px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: 1px solid rgba(33, 33, 33, 0.2);
    }

    & input {
      box-sizing: border-box;
    
      width: 448px;
      height: 40px;
      margin-left: 40px;
      margin-right: 40px;
    
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      outline: unset;
      transition-property: border-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      color: rgba(39, 37, 37, 0.722) ;
    }

    & input:focus {
      border-color: #2196f3;
    }
    
    & textarea {
      box-sizing: border-box;
      margin-left: 40px;
      margin-right: 40px;
    
      width: 448px;
      height: 120px;
    
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      outline: unset;
    
      transition-property: border-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      color: rgba(39, 37, 37, 0.722);
    }
    
    & textarea:focus {
      border-color: #2196f3;
    }
    
    
    & input:focus + .modal-input__icon {
      fill: #2196f3;
    }

  }

  .form__label:not(:first-child) {
    margin-top: 10px;
  }

  .form__input {
    padding-left: 42px;
    padding-right: 42px;
  }

  .form__group {
    position: relative;
  }

  .modal-input__icon {
    position: absolute;
    top: 25%;
    left: 52px;
  
    display: inline-block;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .comment__area {
    padding-top: 12px;
    padding-left: 16px;
  
    font-style: normal;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
    resize: none;
  }

  .accept__reguls {
    margin-top: 20px;
    margin-left: 52px;
    margin-right: 51px;

    & accept__reguls input {
      background: #212121;
    }
    
    & label {
      width: 400px;
      height: 24px;
    
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: calc(24 / 14);
    
      letter-spacing: 0.03em;
    
      color: #757575;
    }

  }

  .accept__button {
    margin-left: 164px;
    margin-right: 164px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .close__button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
  
  &:hover,
  &:focus {
    fill: #2196f3;
  }

}

.close__logo {
  position: absolute;
  top: 5px;
  left: 4.5px;
} 