.work {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
  
    color: var(--primary-text-color);
    padding-bottom: 94px;
  }

  .work__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
  
    color: var(--primary-text-color);
  }

  .work__cardset {
    height: calc(368 / 1170);
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
  }

  .work__item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    ;

  
  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  } 

}

.work__img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__img-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-align: center;

  font-weight: 700;
  height: 70px;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}