:root {
    /* TEXT COLORS */
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --white-color: #ffffff;
  
    /* OTHERS */
    --indent: 30px;
    --items: 3;
    --header-idx: 10;
    --modal-idx: 100;
    --menu-idx: 100;
  
    --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }